.btn {
  color: $white;
  cursor: pointer;
  padding: 0;

  &--border {
    background-color: transparent;
    border: 3px solid $info-text-color;
    color: $info-text-color;
    border-radius: 30px;
    transition: 0.3s;

    &:hover {
      background-color: $info-text-color;
      border-color: $info-text-color;
      color: $white;
    }

    &:active {
      background-color: $info-text-color;
      border-color: $info-text-color;
      color: rgba(255, 255, 255, 0.3);
    }

    &:disabled {
      border: 2px solid #e5e5e5;
      background-color: $border-color;
      border-color: $border-color;
    }
  }

  &--border-cancel {
    color: $main-text-color;
    border: 3px solid $main-text-color;
    opacity: 0.1;
    border-radius: 30px;
    outline: none;
    transition: 0.3s;

    &:hover {
      opacity: 0.3;
    }

    &:active {
      border: 3px solid $main-text-color;
      background-color: $main-text-color;
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &--submit {
    width: 279px;
    height: 63px;
    border: 2px solid $btn-submit-color;
    background-color: $btn-submit-color;

    color: $white;
    font-family: $main-font-bold;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    transition: 0.3s;

    @media (min-width: $tablet-width) {
      width: 300px;
    }

    &:hover {
      background-color: $btn-submit-hover-color;
      border-color: $btn-submit-hover-color;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }

    &:disabled {
      border: 2px solid #e5e5e5;
      background-color: $border-color;
      border-color: $border-color;
    }
  }

  &--icon {
    border: none;
    background-color: transparent;
  }
}

