.btn {
  color: $white;
  cursor: pointer;
  padding: 0;

  &--border {
    background-color: transparent;
    border: 3px solid $white;
    border-radius: 30px;
  }

  &--submit {
    width: 276px;
    height: 59px;
    border: 2px solid $btn-submit-color;
    background-color: $btn-submit-color;

    color: $white;
    font-family: $main-font-bold;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      width: 296px;
    }
  }

  &--icon {
    border: none;
    background-color: transparent;
  }
}

