.downloads {
  background-color: $bg-top-color;
}

.downloads__wrapper {
  position: relative;
}

.downloads__top-block {
  position: relative;
  background: url('../../img/bg-back-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 463px;

  @media (min-width: $tablet-width) {
    position: relative;
    height: 730px;

    background: url('../../img/bg-back-tablet@1x.jpg');
    background-repeat: no-repeat;
    background-position: center;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 290px;
    background: url('../../img/iphone-hand-mobile@1x.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;

    @media (min-width: $tablet-width) {
      left: auto;
      right: 0;
      width: 470px;
      height: 545px;

      background: url('../../img/iphone-hand-tablet@1x.png');
      background-repeat: no-repeat;
      background-size: 137%;
      background-position: bottom right;
    }
  }
}

.downloads__text {
  padding: 90px 40px 0;
  color: $white;
  font-family: $main-font-light;
  font-size: 24px;
  font-weight: 300;
  text-align: center;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 212px;
    left: 75px;
    max-width: 186px;
    padding: 0;
    font-size: 40px;
  }
}

.downloads__bottom-block {
  padding: 0 20px;
  padding-top: 28px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 378px;
    left: 20px;
    width: 300px;
    padding: 0;
    padding-top: 28px;
  }
}

.downloads__btn-download {
  width: 280px;
  width: 100%;
  height: 55px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.downloads__list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 28px;
  max-width: 215px;
}

.downloads__info {
  padding-bottom: 30px;
  color: $white;
  font-family: $main-font-light;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}
