.downloads {
  background-color: $bg-top-color;
}

.downloads__wrapper {
  position: relative;
}

.downloads__top-block {
  position: relative;
  background-image: url('../../img/bg-back-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 461px;
  overflow: hidden;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url('../../img/bg-back-mobile@2x.jpg');
  }

  @media (min-width: $tablet-width) {
    height: 730px;

    background-image: url('../../img/bg-back-tablet@1x.jpg');

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url('../../img/bg-back-tablet@2x.jpg');
    }
  }

  @media (min-width: $desktop-width) {
    height: 852px;

    background-image: url('../../img/bg-back-desktop@1x.jpg');

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url('../../img/bg-back-desktop@2x.jpg');
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 290px;
    background: url('../../img/iphone-hand-mobile@1x.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom 100px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url('../../img/iphone-hand-mobile@2x.png');
    }

    @media (min-width: $tablet-width) {
      left: auto;
      right: -20px;
      width: 515px;
      height: 545px;

      background-image: url('../../img/iphone-hand-tablet@1x.png');
      background-repeat: no-repeat;
      background-size: 136%;
      background-position: bottom right;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url('../../img/iphone-hand-tablet@2x.png');
      }
    }

    @media (min-width: $desktop-width) {
      left: auto;
      right: 5px;
      width: 100%;
      height: 645px;

      background-image: url('../../img/iphone-hand-desktop@1x.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom right;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url('../../img/iphone-hand-desktop@2x.png');
      }
    }
  }
}

.downloads__text {
  padding: 90px 40px 0;
  color: $white;
  font-family: $main-font-light;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  text-align: center;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 204px;
    left: 75px;
    max-width: 186px;
    padding: 0;
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: $desktop-width) {
    top: 217px;
    left: 140px;

    max-width: 280px;
    font-size: 50px;
    line-height: 60px;
  }
}

.downloads__bottom-block {
  padding: 0 20px;
  padding-top: 28px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 378px;
    left: 20px;
    width: 300px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    top: 448px;
    left: 130px;
  }
}

.downloads__btn-download {
  width: 100%;
  height: 55px;
  margin: 0 auto;
  font-family: $main-font-bold;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 0.5px;
  line-height: 10px;
  transition: 0.3s;

  &:hover {
    border: 3px solid $white;
    background-color: $white;
    color: $info-text-color;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
    letter-spacing: 0;
  }
}

.downloads__list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 19px;
  max-width: 205px;

  @media (min-width: $tablet-width) {
    margin-top: 45px;
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 66px;
    margin-bottom: 53px;
  }
}

.downloads__info {
  padding-bottom: 30px;
  color: $white;
  font-family: $main-font-light;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}
