.input {
  width: 279px;
  height: 62px;
  text-indent: 20px;

  color: $main-text-color;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  border: 2px solid $border-color;
  transition: 0.3s;

  @media (min-width: $tablet-width) {
    width: 100%;
    text-indent: 17px;
  }

  @media (min-width: $desktop-width) {
    height: 63px;
  }

  &:hover {
    border: 2px solid $main-text-color;
  }

  &:active {
    border: 2px solid $info-text-color;
  }
}
