.input {
  width: 276px;
  height: 59px;
  text-indent: 20px;

  color: $main-text-color;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  border: 2px solid $border-color;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
