.main-header {
  max-height: 237px;

  background-image: url('../../img/bg-back-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

  @media (min-width: $tablet-width) {
    max-height: none;
    height: 440px;
    background-image: url('../../img/bg-back-tablet@1x.jpg');
  }
}

.main-header__header {
  margin: 0 46px;
  padding: 102px 0 53px;
  color: $white;
  font-family: $main-font-light;
  font-weight: 300;
  font-size: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 190px;
    font-size: 50px;
  }
}
