.main-info {
  position: relative;
  background-image: linear-gradient(175deg, #ffffff 22%, #f2f2f2 22%);
  overflow: hidden;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(175deg, #ffffff 38%, #f2f2f2 38%);
  }

  &::after {
    content: "";

    position: absolute;
    bottom: -40px;
    left: 50%;
    display: block;
    width: 157px;
    height: 320px;
    background-image: url('../../img/iphone-screen-mobile@1x.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    transform: translateX(-50%);

    @media (min-width: $tablet-width) {
      left: 155px;
      bottom: 0;
      width: 268px;
      height: 482px;
      background-image: url('../../img/iphone-screen-3-tablet@1x.png');
    }
  }
}

.main-info__wrapper {
  padding: 40px 20px 322px;

  @media (min-width: $tablet-width) {
    padding: 59px 20px 0;
  }
}

.main-info__block {
  // background-color: @white;
}

.main-info__text {
  margin-bottom: 35px;
  color: $main-text-color;
  font-family: $main-font-light;
  font-size: 24px;
  font-weight: 300;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    font-size: 40px;
  }

  &:last-child {
    @media (min-width: $tablet-width) {
      max-width: 340px;
      margin: 0 auto;
    }
  }
}

.main-info__list {
  @include list-reset;
  margin-top: 120px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 126px;
    margin-left: 290px;
    text-align: left;
  }
}

.main-info__item {
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 40px;
  }

  &:last-child {
    padding-bottom: 0;

    @media (min-width: $tablet-width) {
      padding-bottom: 40px;
    }
  }
}

.main-info__header {
  color: $main-text-color;
  font-family: $main-font-bold;
  font-size: 18px;
  font-weight: 700;
  color: $black;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 15px;
  }
}

.main-info__paragraph {
  color: $main-text-color;
  font-size: 14px;
  line-height: 24px;
}
