.main-header {
  height: 237px;

  background-image: url('../../img/bg-back-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

  @media (min-width: $tablet-width) {
    height: 440px;
    background-image: url('../../img/bg-back-tablet@1x.jpg');
    background-size: 180%;
  }

  @media (min-width: $desktop-width) {
    height: 394px;
    background-image: url('../../img/bg-back-desktop@1x.jpg');
    background-size: 215%;
  }
}

.main-header__header {
  margin: 0 46px;
  padding-top: 98px;
  color: $white;
  font-family: $main-font-light;
  font-weight: 300;
  font-size: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 180px;
    font-size: 50px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    max-width: 350px;
    margin: 0 auto;
    padding-top: 173px;
  }

  &--form {
    @media (min-width: $desktop-width) {
      max-width: 750px;
    }
  }
}
