.nav {
  display: none;
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  width: 100%;
}

.header--active .nav {
  position: relative;
  top: 0;
  display: block;
}

.nav__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
}

.nav__item {
  background-color: $main-text-color;
  box-shadow: 0 1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15);
}

.nav__link {
  display: block;
  text-align: center;
  line-height: 63px;
  color: $white;
  font-family: $main-font-bold;
  font-size: 18px;
  text-transform: uppercase;
}
