.nav {
  display: none;
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  width: 100%;

  @media (min-width: $desktop-width) {
    position: relative;
    top: 0;
    display: block;
  }
}

.header--active .nav {
  position: relative;
  top: 0;
  display: block;
}

.nav__list {
  @include list-reset;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 625px;
  }
}

.nav__item {
  background-color: $main-text-color;
  // box-shadow: 0 1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15);
  box-shadow: 0 1px 0 #000000, inset 0 1px 0 rgba(0, 0, 0, 1);

  @media (min-width: $desktop-width) {
    background-color: transparent;
    box-shadow: none;
  }
}

.nav__link {
  display: block;
  text-align: center;
  line-height: 65px;
  color: $white;
  font-family: $main-font-bold;
  font-size: 18px;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    line-height: 35px;

    font-family: $main-font;
    font-weight: 400;
    text-transform: none;
  }

  &--active {
    @media (min-width: $desktop-width) {
      border-bottom: 2px solid $white;
    }
  }
}
