.reviews {
  background-image: linear-gradient(175deg, #ffffff 80%, #f2f2f2 80%);

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(175deg, #ffffff 89%, #f2f2f2 89%);
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(175deg, #ffffff 90%, #f2f2f2 90%);
  }
}

.reviews__slides {
  position: relative;
  padding-top: 42px;
  padding-bottom: 133px;

  @media (min-width: $tablet-width) {
    padding-top: 100px;
    padding-bottom: 110px;
  }

  @media (min-width: $desktop-width) {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 185px;
    padding-bottom: 155px;
  }

  &::before {
    @media (min-width: $desktop-width) {
      content: "";
      position: absolute;
      top: 72px;
      left: 50%;
      transform: translateX(-50%);

      display: block;
      width: 79px;
      height: 63px;

      background-image: url("../../img/icon-quotes.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

.reviews .reviews__list {
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
  }
}

.reviews__author {
  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.reviews__author-name {
  display: inline-block;
  margin-bottom: 15px;
  color: $black;
  font-family: $main-font-bold;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  font-style: normal;

  @media (min-width: $tablet-width) {
    margin-bottom: 9px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 5px;
  }
}

.reviews__author-info {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 14px;
  }
}

.reviews__review {
  order: 0;

  font-size: 14px;
  line-height: 30px;
  color: $main-text-color;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    margin-bottom: 36px;
  }
}
