.slides--reviews {
  .slides__item {
    display: flex;
    flex-direction: column;
  }

  .slides__list {
    @media (min-width: $desktop-width) {
      max-width: 728px;
      margin: 0 auto;
    }
  }
}

.slides__list {
  @include list-reset;
  text-align: center;

  @media (min-width: $desktop-width) {
    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: calc(50% - 30px);
      transform: translateY(-50%);

      width: 22px;
      height: 41px;

      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      opacity: 0.3;
      cursor: pointer;
    }

    &::before {
      left: 10px;
      background-image: url("../../img/icon-review-arrow-left.svg");
    }

    &::after {
      right: 10px;
      background-image: url("../../img/icon-review-arrow-right.svg");
    }
  }
}

.slides__item {
  padding: 0 20px;
}

.slides__dot-list {
  @include list-reset;
  display: flex;
  justify-content: center;
}

.slides__dot-item {
  margin-right: 13px;

  &:last-child {
    margin-right: 0;
  }
}

.slides__dot {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 3px solid $white;
  background-color: $black;
  opacity: 0.3;
  transition: 0.3s;
  cursor: pointer;

  &--active {
    border-color: $main-text-color;
    background-color: $white;
    opacity: 1;
  }
}
