.social-block__list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  max-width: 176px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: relative;
    left: -10px;
    max-width: 175px;
    width: 175px;
  }

  @media (min-width: $desktop-width) {
    left: 7px;
    top: 2px;
  }
}

.social-block__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 2px solid $social-border-color;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 50px;
    height: 50px;
  }
}

.social-block__icon {
  position: relative;
  &--youtube {
      left: 2px;
  }
}
